@page "/"
@inject GameService GameService

<h3>Lägg till Spelare</h3>
<form>
    <input type="text" @bind="NewPlayer" placeholder="Spelarens namn" />
    <button type="button" @onclick="AddPlayer">Lägg till</button>
</form>

<h3>Lägg till Gren</h3>
<form>
    <input type="text" @bind="NewEvent" placeholder="Gren" />
    <button type="button" @onclick="AddEvent">Lägg till</button>
</form>

<h3>Spelare</h3>
<ul>
    @foreach (var player in GameService.PlayerList)
    {
        <li>
            @player.Name
            <button type="button" @onclick="() => RemovePlayer(player)">Ta bort</button>
        </li>
    }
</ul>

<h3>Grenar</h3>
<ul>
    @foreach (var eventItem in GameService.EventList)
    {
        <li>
            @eventItem.Name
            <button type="button" @onclick="() => RemoveEvent(eventItem)">Ta bort</button>
        </li>
    }
</ul>


@code {
    private string NewPlayer;
    private string NewEvent;

    private void AddPlayer()
    {
        GameService.PlayerList.Add(new Player { Name = NewPlayer, Score = 0 });
        NewPlayer = string.Empty;
    }

    private void AddEvent()
    {
        GameService.EventList.Add(new Event { Name = NewEvent });
        NewEvent = string.Empty;
    }

    private void RemovePlayer(Player player)
    {
        GameService.PlayerList.Remove(player);
    }

    private void RemoveEvent(Event eventItem)
    {
        GameService.PlayerList.Where(p => p.AssignedEvent == eventItem).ToList().ForEach(p => p.AssignedEvent = null);
        GameService.EventList.Remove(eventItem);
    }

}
