@using Blazorise
@page "/results"

@inject GameService GameService
@inject NavigationManager NavigationManager

<h3>Resultat</h3>

@if (GameService.PlayerList.Any())
{
    var playerScores = GameService.GetTotalScores();
    for (int i = 0; i < Math.Min(playerScores.Count, 3); i++)
    {
        var playerScore = playerScores[i];
        <h4>@(i + 1). plats: @playerScore.PlayerName! Poäng: @playerScore.TotalScore</h4>
    }
}
else
{
    <p>Inga spelare hittades.</p>
}


<button @onclick="GoBack">Tillbaka</button>

@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }
}
