@using Blazorise
@page "/results"

@inject GameService GameService
@inject NavigationManager NavigationManager

<h3>Resultat</h3>


@if (GameService.PlayerList.Any())
{
    var playerScores = GameService.GetTotalScores();
    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Plats</TableHeaderCell>
                <TableHeaderCell>Spelare</TableHeaderCell>
                <TableHeaderCell>Poäng</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @for (int i = 0; i < Math.Min(3, playerScores.Count); i++)
            {
                var playerScore = playerScores[i];
                var placeNumber = i + 1;
                <TableRow>
                    <TableRowCell>@(placeNumber). plats</TableRowCell>
                    <TableRowCell>@playerScore.PlayerName</TableRowCell>
                    <TableRowCell>@playerScore.TotalScore</TableRowCell>
                </TableRow>
            }
        </TableBody>

    </Table>
}
else
{
    <p>Inga spelare hittades.</p>
}


<button @onclick="GoBack">Tillbaka</button>

@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }
}
